.search-bar {
    width: 100%;
    max-width: 680px;
    margin: 0 auto;
    padding: 0 1rem;
    /* Added padding to accommodate smaller screens */
    box-sizing: border-box;
    /* Include padding in width calculation */
}

.search-bar-content {
    display: flex;
    justify-content: center;
}

.search-bar-elem {
    padding: 1.4rem 2.8rem;
    border-radius: 3.8rem;
    display: flex;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.bar-control {
    flex: 1;
    font-size: 2rem;
    padding: 0.6rem;
    border: none;
    background-color: transparent;
    width: 100%;
}

.bar-control::placeholder {
    opacity: 0.9;
}

.search-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
    color: #8a8a8a;
    flex-shrink: 0;
}

@media (max-width: 768px) {
    .search-bar {
        max-width: 90%;
        padding: 0;
    }
}